@charset "UTF-8";
/*!
* SISCAMOVEL
* Development Version
* Version 2021 Oct, 15
* by ADAMED <3
*/

/* Modificações de variáveis do bootstrap e bootstrap icons */
/* Declare a fonte Sen como padrão */
:root {
    --bs-font-sans-serif: 'Sen', sans-serif;
    --bs-body-font-family: var(--bs-font-sans-serif);
}

body {
    padding: 1rem 1rem 1rem 1rem;
}

.green-hive {
	background-image: url("../img/green-hive.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.modal-backdrop {
    background-color: #8BA889;
}

.bi-heart-fill {
    color: #FA003F;
}

.bi-eye {
	position: absolute;
	top: 1px;
	padding-top: 8.75rem;
	right: 1.875rem;
	cursor: pointer;
}
.bi-eye-slash {
	position: absolute;
	top: 1px;
	padding-top: 8.75rem;
	right: 1.875rem;
	cursor: pointer;
}

/*
* SISCAMOVEL customizations
* (Fontes)
* Fonte Faster One como parâmetro opcional
*
*/
.fasterone {
    font-family: 'Faster One', cursive;
}

.or-seperator {
	margin-top: 32px;
	text-align: center;
	border-top: 1px solid #e0e0e0;
}

.or-seperator strong {
	color: #666;
	padding: 0 6px;
	width: 30px;
	height: 30px;
	font-size: 13px;
	text-align: center;
	line-height: 26px;
	background: #fff;
	display: inline-block;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	position: relative;
	top: -15px;
	z-index: 1;
}

/* Campo de busca */
.siscamovel-search-wrap .siscamovel-search-form {
	border: 1px solid #e2e4ea;
	background: #fff;
	border-radius: 4px;
  }
  
  .siscamovel-search-wrap .siscamovel-search-form form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	width: 100%;
	padding: 10px 10px 10px 0;
  }
  
  .siscamovel-search-wrap .siscamovel-search-form form .single-field-item {
	position: relative;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 37%;
	flex: 0 0 37%;
	max-width: 37%;
	padding: 0 30px;
	height: 100%;
	margin-bottom: 0;
  }
  
  .siscamovel-search-wrap .siscamovel-search-form form .single-field-item label {
	display: block;
	font-size: 15px;
	color: #000;
	font-weight: 600;
	text-transform: capitalize;
	margin: 0;
  }
  
  .siscamovel-search-wrap .siscamovel-search-form form .single-field-item input {
	width: 100%;
	border: none;
	color: #999;
	font-size: 15px;
	font-weight: 400;
	padding: 0;
	height: auto;
	line-height: inherit;
  }
  
  .siscamovel-search-wrap .siscamovel-search-form form .btn-comparae {
	width: 100%;
  }
  
  .siscamovel-search-wrap .siscamovel-search-form form .btn-comparae .btn {
	background-color: #2042e3;
	color: #fff;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
  }
  
  .siscamovel-search-wrap .siscamovel-search-form form .btn-comparae .btn:hover {
	-webkit-box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
			box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
	background-color: #081828;
	color: #fff;
	border-color: transparent;
  }
  
  .siscamovel-search-wrap .siscamovel-search-form form .single-field-item:first-child::after {
	position: absolute;
	content: "";
	height: 70%;
	width: 1px;
	background-color: #e2e4ea;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
  }
  
  .keywords {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
  }
  
  .keywords ul li {
	display: inline-block;
  }
  
  .keywords ul li a {
	font-size: 13px;
	color: #999;
	padding: 0 7px;
	border: 1px solid #e4e5ec;
	border-radius: 3px;
	margin-bottom: 4px;
	line-height: 22px;
	margin-right: 0;
  }
  
  .keywords ul li a:hover {
	-webkit-box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
			box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
	background-color: #2042e3;
	color: #fff;
	border-color: transparent;
  }
  
  .keywords ul li a {
	font-size: 13px;
	color: #999;
	padding: 0 7px;
	border: 1px solid #e4e5ec;
	border-radius: 3px;
	margin-bottom: 4px;
	line-height: 22px;
	margin-right: 0;
  }
  
  .keywords.style-two .title {
	font-size: 14px;
	color: #2042e3;
	margin-right: 10px;
	line-height: 22px;
	padding: 0;
	background-color: transparent;
	border-radius: 0;
	position: relative;
	top: -2px;
  }


.hero-content {
	position: relative;
	padding: 0 0 18px 0;
}